PORT=5000
CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://jubayerkhan:atht9eVQ4D1JxzZO@cluster0.howsxed.mongodb.net/?appName=Cluster0
MONGODB_FALLBACK_URI=mongodb://127.0.0.1:27017/portfolio
BETTER_AUTH_SECRET=mZ9vK4xR7pL2wQ5jN8bC1mX6vH3fT9gD2sK5xP8cYuA=
BETTER_AUTH_URL=http://localhost:5000/api/auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=